.card-profile {
    padding: 1.5em 1.5em;
    border: 1px solid #dedede;
    border-radius: 6px;

    .card-img {
        margin-bottom: 2em;

        img {
            border-radius: 6px;
        }
    }

    .card-info {
        margin-top: 2em;

        p {
            color: #ababab;
            font-weight: 600;
            margin-bottom: 0px !important;
        }
    }
}
