.tab-base {
    .nav-base {
        border-bottom: 2px solid #dedede;
    }

    .nav-item {
        position: relative;

        .nav-link {
            border-radius: 0px !important;
            font-weight: 700;

            &.nuxt-link-exact-active {
                color: rgb(243, 12, 185);
                background-color: rgba(231, 15, 240, 0.04);
                // border-bottom: 2px solid;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -2px;
                    height: 2px;
                    background-color: lighten(rgb(243, 12, 185), 30%);
                    border-radius: 2px;
                }
            }
        }
    }
}
