.button, button, input[type="submit"],.block-minicart .shopcart-icon .count,.load-more a:hover,
.turan-newsletter.style1 .newsletter-form-wrap .submit-newsletter:hover,.product-item  .button:hover,.customer_login input[type="submit"],
.sevice-box-content .sevice-button:hover,.footer-device-mobile-item.device-cart .count-icon,.widget_filter_size li.active, .widget_filter_size li:hover,
.product-item.style-list .single_variation_wrap >.button:hover,.shoppingcart-content .control-cart .button:hover,.checkout-wrapp .button:hover,
.product-item .button.quick-wiew-button:hover,.checkout-wrapp .group-button-payment .btn-credit-card,.payment-method-wrapp .button-control .btn-pay-now,.end-checkout .button,.btn-zoom.open_qv:hover,
.attribute_size .list-size a.active,.attribute_size .list-size a:hover,.tab-details-product .tab-link li a::after,
.product-item.style2 .group-buttons .button:hover, .product-item.style-2 .group-buttons .added_to_cart:hover,.kt-popup-newsletter.style-2 .mfp-close,
.shopcart-description .actions .button-viewcart:hover,.kt-popup-quickview .mfp-close,.turan-newsletter.style2 .newsletter-form-wrap .submit-newsletter:hover,
.product-item.style-6 .loop-form-add-to-cart .button, .home-slider-10 .slider-item .slider-infor .button:hover,.item-banner .button:hover
{
	background-color: #75905e;

}
.product-item  .button:hover,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
button:focus,
select:focus,.sevice-box-content .sevice-button:hover,
.widget_filter_size li.active, 
.widget_filter_size li:hover,
.shoppingcart-content .control-cart .button:hover,
.shipping-address .chosen-container.chosen-with-drop .chosen-single,
.checkout-wrapp .button:hover,
.checkout-wrapp .group-button-payment .btn-credit-card,
.payment-method-wrapp .button-control .btn-pay-now,
.end-checkout .button,
.btn-zoom.open_qv:hover,
.details-thumd .thumbnails_carousel .owl-item .active img,
.attribute_size .list-size a.active,
.attribute_size .list-size a:hover,
.shopcart-description .actions .button-viewcart:hover,
.turan-tabs .tab-link li.active a, 
.home-slider-10 .slider-item .slider-infor .button:hover,
.loadmore-wapper a:hover,
.item-banner .button:hover{

	border-color: #75905e !important;
	
}
a:hover, a:focus, a:active,
.product-item.style-2 ul li a:hover,.quantity .btn-number:hover,.header-user-form-tabs .tab-link li.active,
.review .view:hover, .review .s-comments:hover,.product-item.style-list .product-info-left .attributes-display li a:hover,.cart-form .product-remove:hover a:before,
.cart-form .shop_table .product-name .attributes-select:hover,.cart-form .coupon .button:hover,.slick-slider.slider-lookbook.nav-center>.slick-arrow:hover,.slider-lookbook-item .view-the-look:hover,
.list-product-order .attributes-select:hover,.header-language .turan-submenu > li > a:hover,.sidebar input[type="checkbox"]:checked + label::before,
.product-item .yith-wcwl-add-to-wishlist>div a:hover::before,.main-menu .submenu > li:hover > a, .main-menu .submenu > li.active > a,.block-minicart .no-product .text span,
.header-account .login .lost_password,.details-thumd .owl-nav div:hover,.details-infor .availability a,.details-infor .variations .text-attribute,.attribute_size .list-size a,
.details-infor .group-button .yith-wcwl-add-to-wishlist div a:hover::before,.details-infor .group-button .size-chart-wrapp .btn-size-chart a:hover::before,
.tab-details-product .tab-link li.active a,.review_form .comment-form-review .stars a.active,.review_form .comment-form-review .stars a:hover,
.related .slick-slider.nav-center>.slick-arrow:hover,.up-sells .slick-slider.nav-center>.slick-arrow:hover,.slider-item .button.bgroud-style,.slider-item .button:hover{
	color: #75905e;

}